<html lang="en">

<%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>
      <h2>
        <%= title %>
      </h2>

      <h4>
        <%= note.title %>
      </h4>
      <p>
        <%= note.body %>
      </p>
  </body>

</html>