<html lang="en">

<%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>
      <h2>
        <%= title %>
      </h2>
      <% if (notes.length> 0 ) { %>
        <% notes.forEach( note=> { %>
          <a class="single" href="/<%= note._id %>">
            <h3 class="title">
              <%= note.title %>
            </h3>
          </a>
          <a href="/edit/<%= note._id%>">Edit</a>
          <button class="delete-note" data-doc="<%= note._id %>">Delete</button>
          <% }) %>
            <% } else { %>
              <p>There are no notes to display...</p>
              <% } %>

                <script>
                  const deleteBtn = document.querySelectorAll(".delete-note");
                  deleteBtn.forEach((btn) => {
                    btn.addEventListener("click", (e) => {
                      const endPoint = `/${e.target.dataset.doc}`;
                      fetch(endPoint, {
                        method: "DELETE"
                      })
                        .then(res => res.json())
                        .then(data => window.location.href = data.redirect)
                        .catch(err => console.log(err))

                    })
                  })
                </script>

  </body>

</html>